<p><h1>Listing Tasks</h1></p>

<p><h3>Description</h3></p>

<% @tasks.each do |task| %>

  <div class='form-inline'>

     <%= task.description %>

      <div class= col-md-offset-10>
        <%= link_to 'Show', task_path(task) %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task_path(task), method: :delete %>
      </div>

  </div>

<% end %>

<div>
  <%= link_to 'New Task', new_task_path %>
</div>
