<div class= 'page-header'>
  <h1>
    <%= @user.first_name %> <%= @user.last_name %>
    <% if current_user == @user || current_user.admin %>
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-info pull-right" %>
    <% end %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>
</dl>

<% if current_user.admin || current_user.project_member_of(@user) || @user == current_user %>
  <dl class="dl-horizontal">
    <dt>Email</dt>
    <dd><a href= "mailto:<%= @user.email %>"><%= @user.email %></a></dd>
  </dl>
<% end %>

<dl class="dl-horizontal">
  <dt>Pivotal Tracker Token</dt>
    <% if current_user.pivotal_tracker_token %>
      <dd><%= @user.pivotal_tracker_token.gsub(/.(?<=.....)/, '*') %></dd>
    <% end %>
</dl>
