<%= form_tag signin_path do %>

  <% if @sign_in_error %>
    <p>
      <%= @sign_in_error %>
    </p>
  <% end %>

  <div class= 'row'>
    <div class= 'col-sm-6 col-md-offset-3'>
      <div class= 'well'>
        <div class= 'page-header'>
          <h3>Sign into gCamp</h3>
        </div>

        <div class= 'form-group'>
          <%= label_tag :email, 'Email', class: 'control-label' %>
          <%= email_field_tag :email, '', class: 'form-control' %>
        </div>

        <div class= 'form-group'>
          <%= label_tag :password, 'Password', class: 'control-label' %>
          <%= password_field_tag :password, '', class: 'form-control' %>
        </div>

        <div>
          <%= submit_tag "Sign in", class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
