<div class= 'page-header'>
  <p>
    <h1>
      <%= @project.name %>
      <div class= 'pull-right'>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'%> <%= link_to 'Delete', project_path(@project), method: :delete, class: 'btn btn-danger' %>
      </div>
    </h1>
  </p>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %>
</br>
<%= link_to "#{@project.memberships.count} Memberships", project_memberships_path(@project) %>
