<div class= 'page-header'>
  <p>
    <h1>
      <%= @project.name %>
      <% if current_user.project_owner_verify(@project) %>
      <div class= 'pull-right'>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'%>
      </div>
      <% end %>
    </h1>
  </p>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<p><%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %></p>
<p><%= link_to "#{@project.memberships.count} Memberships", project_memberships_path(@project) %></p>

<% if current_user.project_owner_verify(@project) %>
  <div class= "well">
    <h3>Delete</h3>
      <p><%= "Deleting this project will also delete #{pluralize(@project.memberships.count, 'membership').sub(/d+s/, "") }, #{pluralize(@project.tasks.count, 'task').sub(/d+s/, "")} and associated comments" %><p>

    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
  </div>
<% end %>
