
<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<p>
  <ul>
    <% @questions.each do |question| %>
    <li><a href="#<%=question.slug%>"><%= question.question  %></a></li>
    <% end %>
  </ul>
</p>

<p>
  <% @questions.each do |question| %>

    <div>
      <a id="<%=question.slug%>"></a>
      <p><h3><%= question.question  %></h3></p>
      <p><%= question.answer  %></p>
      <%= link_to "top", "#" %>
    </div>

    <br/>
  <% end %>
</p>
